.c-btn{
    display: block;
    max-width: max-content;
    text-align: center;
    color: $primary;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    border: 2px solid $primary;
    border-radius: 200px;
    box-sizing: border-box;
    padding: 27px 20px;
}