.introduction{
    margin-top: 195px;
    margin-bottom: 120px;

    @media(max-width: 991px){
        margin-top: calc(70px + 80px);
    }
    
    &__container{
        // background-image: url("/src/assets/images/pages/index/introduction/bg.png");
        background-repeat: no-repeat;
        background-position: top right;
        padding-top: 110px;

        @media(max-width: 991px){
            padding-top: 0;
        }

        &__left{
            &__title{
                @media(max-width: 991px){
                    font-size: 22px;
                    line-height: 24px;
                }
            }
        }
    }
}