.gallery{
    &__container{
        &__img{
            width: 100%;
            display: block;
            border-radius: 10px;
            object-fit: cover;
        }

        &__grid{
            display: grid;
            gap: 30px;
            
            @media(max-width: 991px){
                grid-template-columns: 1fr !important;
            }

            &--twoColumns{
                grid-template-columns: 1fr 1fr;
            }
            &--twoColumnsAuto{
                grid-template-columns: auto auto;
            }
            
            &--threeColumns{
                grid-template-columns: repeat(3, 1fr);
            }
            
            &--twoRows{
                grid-template-rows: repeat(2, auto);
            }
        }
    }
}