.otherProjects{
    margin-bottom: 75px;

    @media(max-width: 991px){
        margin-bottom: 50px;
    }

    &__container{
        h1{
            @media(max-width: 991px){
            }
        }

        &__carousel{
            min-height: 415px;
            margin-top: 68px;
            position: relative;
            overflow: hidden;

            &__nextBtn{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary;
                border-radius: 5px;
                position: absolute;
                right: 0;
                top: 124px;
                z-index: 3;
                box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.3);
            }

            &__slider{
                height: 300px;
                display: flex;
                transition: all .3s;
                position: relative;

                &__item{
                    min-width: 310px;
                    height: 300px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    box-sizing: border-box;
                    position: relative;
                    margin-right: 30px;
                    transition: border-color .3s;

                    &:last-child{
                        margin-right: 0;
                    }

                    @media(max-width: 568px){
                        min-width: 100%;
                    }

                    &--whithBorder{
                        border: 1px solid #F2E1C2;

                        &:hover{
                            border-color: transparent !important;
                        }
                    }

                    &--show{
                        .otherProjects__container__carousel__slider__item__card{
                            background-color: $primary !important;
                            padding: 8px 0 0 0 !important;
                        }

                        .otherProjects__container__carousel__slider__item__card__logo{
                            width: calc(100% - 16px) !important;
                        }

                        .otherProjects__container__carousel__slider__item__card__arrow{
                            transform: rotate(0);
                            bottom: 20px;
                        }
    
                        .otherProjects__container__carousel__slider__item__card__info{
                            margin-top: 0 !important;
                        }
                        
                    }

                    &__card{
                        min-height: 298px;
                        max-height: max-content;
                        box-sizing: border-box;
                        border-radius: 10px;
                        background-color: $primary;
                        transition: padding .3s;
                        position: absolute;
                        top: 0;
                        left: 0;

                        @media(max-width: 568px){
                            max-width: calc(100% - 25px);
                        }
    
                        &__logo{
                            width: 100%;
                            height: 298px;
                            object-fit: cover;
                            border-radius: 10px;
                            margin: 0 auto;
                            position: relative;
                            transition: width .3s;
                            z-index: 2;
                        }
    
                        &:hover{
                            background-color: $primary;
                            padding: 8px 0 0 0;
                            
                            .otherProjects__container__carousel__slider__item__card__logo{
                                width: calc(100% - 16px);
                            }
    
                            .otherProjects__container__carousel__slider__item__card__arrow{
                                transform: rotate(0);
                                bottom: 20px;
                            }
        
                            .otherProjects__container__carousel__slider__item__card__info{
                                margin-top: 0;
                            }
                        }
    
                        &__arrow{
                            width: 27px;
                            position: absolute;
                            bottom: 30px;
                            right: 20px;
                            z-index: 3;
                            transition: all .3s;
                            transform: rotate(180deg);
                            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

                            @media(max-width: 991px){
                                width: 20px;
                            }
                        }
        
                        &__info{
                            padding: 20px 8px;
                            position: relative;
                            margin-top: -115px;
                            transition: margin-top .3s;
                            padding-right: 70px;
        
                            &__title{
                                font-size: 18px;
                                line-height: 20px;
                                color: #F2E1C2;
                                font-weight: 700;
                                
                                @media(max-width: 991px){
                                    font-size: 14px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}