.guides{
    margin-bottom: 140px;

    @media(max-width: 991px){
        margin-bottom: 70px;
    }

    &__container{
        &__title{
            color: $primary;
            font-weight: 600;
            font-size: 32px;
            margin-bottom: 30px;
        }

        &__description{
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            color: $secondary;
            margin-bottom: 78px;
        }

        &__topics{
            position: relative;
            margin-bottom: 110px;

            &__topic{
                margin-bottom: 58px;

                @media(max-width: 991px){
                    height: 58px;
                    overflow: hidden;
                    margin-bottom: 30px;
                    transition: all .3s;
                }

                &:last-child{
                    margin-bottom: 0;
                }

                &__question{
                    max-width: max-content;
                    min-width: 407px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    border-bottom: 2px solid #F2E1C2;
                    padding-bottom: 20px;

                    @media(max-width: 991px){
                        padding-bottom: 10px;
                    }

                    &--show{
                        > div{
                            background-color: $primary;
                            transform: rotate(0) !important;

                            svg{
                                path{
                                    fill: #000;
                                }
                            }
                        }
                    }
    
                    p{
                        color: #F2E1C2;
                        font-size: 24px;
                        font-weight: 600;
                        margin-right: 20px;

                        @media(max-width: 991px){
                            font-size: 18px;
                        }
                    }
    
                    > div{
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $primary;
                        border-radius: 5px;
                        transform: rotate(-90deg);
                        transition: transform .3s;

                        &:hover{
                            background-color: $primary;

                            svg{
                                path{
                                    fill: #000;
                                }
                            }
                        }
                    }
                }

                &__answer{
                    width: 100%;
                    max-width: 516px;
                    border: 2px solid $primary;
                    border-radius: 10px;
                    opacity: 0;
                    position: absolute;
                    top: 80px;
                    right: 0;
                    transition: all .15s;
                    padding: 30px;

                    @media(max-width: 991px){
                        max-width: 450px;
                        margin-top: 30px;
                        padding: 10px;
                        position: relative;
                        top: initial;
                        opacity: 1 !important;
                    }

                    &--show{
                        top: 0;
                        opacity: 1;
                        transition: all .3s;
                    }

                    h3{
                        font-weight: 600;
                        font-size: 20px;
                        color: #FFFFFF;
                        margin-bottom: 25px;

                        @media(max-width: 991px){
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                    }

                    p{
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 120%;
                        color: #F2E1C2;

                        @media(max-width: 991px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        &__cta{
            max-width: 407px;

            @media(max-width: 991px){
                max-width: 516px;
            }
        }
    }
}