.projects{
    margin-bottom: 250px;

    @media(max-width: 991px){
        margin-bottom: 130px;
    }

    &__container{
        &__title{
            margin-bottom: 30px;
        }

        &__description{
            margin-bottom: 50px;
        }

        &__carousel{
            overflow: hidden;
            position: relative;

            &__nextBtn{
                width: 33px;
                height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: $primary;
                box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.3);
                position: absolute;
                top: 95px;
                right: 0;
                z-index: 3;
                transform: rotate(-90deg);

                img{
                    width: 18px;
                    position: relative;
                    right: -1px;
                }
            }

            &__slider{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;
                transition: transform .3s;
    
                @media(max-width: 991px){
                    display: flex;
                    grid-gap: initial;
                }
    
                &__item{
                    display: block;
                    min-height: 420px;
                    max-height: max-content;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: $primary;
                    transition: padding .3s;
                    position: relative;
    
                    @media(max-width: 991px){
                        max-width: initial;
                        min-width: calc(100% - 50px);
                        min-height: 240px;
                        margin-right: 40px;
                    }

                    &--show{
                        background-color: $primary;
                        padding: 20px 0 0 0;
    
                        .projects__container__carousel__slider__item__projectImg{
                            width: calc(100% - 40px);
                        }
    
                        .projects__container__carousel__slider__item__arrow{
                            transform: rotate(0);
                            bottom: 40px;
    
                            @media(max-width: 991px){
                                bottom: 23px;
                            }
                        }
    
                        .projects__container__carousel__slider__item__info{
                            margin-top: 0;
                        }
                    }

                    &:hover{
                        background-color: $primary;
                        padding: 20px 0 0 0;
    
                        .projects__container__carousel__slider__item__projectImg{
                            width: calc(100% - 40px);
                        }
    
                        .projects__container__carousel__slider__item__arrow{
                            transform: rotate(0);
                            bottom: 40px;
    
                            @media(max-width: 991px){
                                bottom: 23px;
                            }
                        }
    
                        .projects__container__carousel__slider__item__info{
                            margin-top: 0;
                        }
                    }
    
                    &__projectImg{
                        width: 100%;
                        height: 420px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin: 0 auto;
                        position: relative;
                        transition: width .3s;
                        z-index: 2;

                        @media(max-width: 991px){
                            height: 240px;
                        }
                    }
    
                    &__arrow{
                        position: absolute;
                        bottom: 30px;
                        right: 20px;
                        z-index: 3;
                        transition: all .3s;
                        transform: rotate(180deg);
                        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

                        @media(max-width: 991px){
                            width: 20px;
                        }
                    }
    
                    &__info{
                        display: flex;
                        align-items: center;
                        padding: 40px 20px 40px 20px;
                        position: relative;
                        margin-top: -115px;
                        transition: margin-top .3s;
                        padding-right: 70px;
    
                        @media (max-width: 1180px){
                            margin-top: -150px;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        @media (max-width: 991px){
                            margin-top: -105px;
                            padding: 20px;
                        }
    
                        &__title{
                            font-size: 30px;
                            line-height: 32px;
                            color: #F2E1C2;
                            font-weight: 700;
                            margin-right: 30px;
                            
                            @media (max-width: 1301px){
                                font-size: 25px;
                            }
                            @media (max-width: 991px){
                                font-size: 20px;
                            }
                        }
    
                        &__date{
                            color: #000;
                            font-weight: 900;
                            font-size: 12px;
                            border: 3px solid #000000;
                            border-radius: 130px;
                            white-space: nowrap;
                            padding: 5px 26px;
                        }
                    }
                }
            }
        }
    }
}